# --- Core libraries ---
streamlit
pandas
numpy
matplotlib
Pillow
joblib
openpyxl

# --- Machine Learning ---
scikit-learn
xgboost
catboost
lightgbm

# --- Optionnel mais recommandé ---
tqdm

# --- Si tu utilises Google Sheets (pour les avis utilisateurs) ---
gspread
oauth2client
